.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* .logo {
  background-color: #ffffff;
  color: #4db1bc;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.logo img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
  opacity: .7;
  z-index: 0;
}

.logo h1 {
  margin: 0;
  padding-bottom: 6rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: 'Teko', sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}

.logo a {
  font-family: 'Teko', sans-serif;
  color: #4db1bc;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  padding-bottom: 1rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
} */