body,
html {
  margin: 0;
  padding: 0;
}

.Home {
  /* Size */
  min-height: 100vh;
  /* Content Position */
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------------- */
/* HOME HEADER */
.Home-header {
  /* Content Position */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* Style */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  /* Size */
  width: 150px;
  /* Position */
  margin-left: 150px;
}

.Home-header nav ul {
  /* Position */
  margin-right: 150px;
}

.Home-header nav ul li {
  /* Content Position */
  display: inline;
  margin-right: 20px;
}

/* -------------------------------------------------- */
/* HOME CONTENT */
.Home-content {
  /* Content Position */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 100px); /* Adjust for scrolling on page */
}

/* -------------------------------------------------- */
/* TEXT */
.Home-content h2 {
  /* Size */
  font-size: 54px;
  /* Position */
  margin-top: 120px;
  /* Style */
  font-weight: 100;
}

.Home-content h3 {
  /* Size */
  font-size: 26px;
  /* Positon */
  margin-top: 20px;
  /* Style */
  font-weight: 100;
  color: gray;
}

/* -------------------------------------------------- */
/* GH LOGIN BUTTON */
.gh-login-button {
  /* Position */
  margin-top: 30px;
  /* Content Position */
  display: flex;
  align-items: center;
  padding: 10px;
  /* Style */
  background-image: linear-gradient(to right, #00bf63, #05a78b);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  font-size: 14pt;
  color: white;
  border: none;
  border-radius: 5px !important;
}

.gh-login-button svg {
  /* Position */
  margin-right: 5px;
}

.gh-login-button:hover {
  background-image: linear-gradient(to right, #05a78b, #00bf63); /* Gradient colors */
}

/* -------------------------------------------------- */
/* METRICS GIF */
.metrics-gif {
  /* Size */
  width: 1000px;
  /* Position */
  position: absolute;
  z-index: -1;
  margin-top: 30px;
}

/* -------------------------------------------------- */
/* CHARTJS GRAPHS AND CHARTS */
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* This will create two columns of equal width */
  grid-template-rows: auto auto; /* Adjust row height based on content */
}

.viz-a,
.viz-b {
  grid-row: 1; /* Places both .viz-a and .viz-b in the first row */
}

.viz-a {
  grid-column: 1 / span 1; /* Occupies the first part of the first row */
}

.viz-b {
  display: grid;
  grid-column: 2 / span 1; /* Occupies the second part of the first row */
  max-height: 50vh;
  place-items: center;
}

.viz-c {
  display: grid;
  grid-column: 1 / span 2; /* Spans across both columns in the second row */
  grid-row: 2; /* Places .viz-c in the second row */
  max-height: 50vh;
  place-items: center;
}
